@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.Box {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  display: inline-block;
  text-align: center;
  line-height: 190px;
  font-weight: 800;
  font-size: 100px;
  font-family: "Lato", sans-serif;
}

.Stage {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 700px;
  min-width: 700px;
}

.Backdrop {
  z-index: 200;
  color: #fff;
}
