html {
  font-family: "Acme", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-image: linear-gradient(
    45deg,
    rgba(232, 168, 72),
    rgba(152, 187, 253)
  );
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}

#headline {
  text-transform: uppercase;
  -webkit-text-stroke: 0.8px black;
  color: #fff;
  text-align: center;
}

.linkContainer {
  border-radius: 5px;
  background-color: #ccc;
  font-size: 20px;
  text-align: center;
  box-shadow: 2px 2px 1px 1px #000;
  padding: 5px;
}

.linkContainer a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.8px black;
}

.linkContainer a h3 {
  margin: 0;
}
#links {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20%;
}

#mausFragenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mausFragenContainer form {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 30%;
  grid-template-rows: 80% 20% 20% 20%;
  grid-row-gap: 20px;
}

#mausFragenContainer form textarea {
  resize: none;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  font-size: 18px;
  font-family: "Acme", sans-serif;
}

#mausFragenContainer form textarea:focus {
  border: 2px solid #624797;
  outline: none;
}

#mausFragenContainer form label {
  color: #000;
  font-size: 20px;
}

#mausFragenContainer form input {
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  outline: none;
  border-style: solid;
  font-size: 18px;
  font-family: "Acme", sans-serif;
}

#mausFragenContainer form input:focus {
  border: 2px solid #624797;
  outline: none;
}

#submitButton {
  width: 50%;
  outline: none;
  height: 60%;
  border-radius: 5px;
  font-family: "Acme", sans-serif;
  cursor: url("../resources/img/flyingDuckCursor.png"), pointer;
}

#submitButton:focus {
  border: 2px solid #624797;
  outline: none;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#kaeptnBlaubaer {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: scaleX(-1);
}
#fragendeMausGif {
  position: absolute;
  width: 70px;
  top: 20px;
  left: 90%;
}
