html {
  font-family: "Acme", sans-serif;
}

body {
  background-image: linear-gradient(45deg,rgba(232, 168, 72, 0.5), rgba(152, 187, 253, 0.486));
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
#landingPage {
  background-image: url("./img/confetti1.gif");
  background-blend-mode: darken;
  background-size: auto;
  height: 100vh;  
}

#headbar {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headbar h1 {
  padding: 5px 15px 5px;
  border-radius: 15px;
  background-color: rgb(175, 175, 175);
  margin: 0px !important;
  color: #fff !important;
  -webkit-text-stroke: 0.8px black;
  box-shadow: 1px 1px 0px 1px black;
}

#headbar h1:hover {
  animation: wiggle 1s infinite alternate;
}

#historyHeadline {
  transform: rotate(3deg);
}

#historyHeadline img {
  margin-left: 60px;
  margin-bottom: -10px;
}


#questionsHeadline {
  position: relative;
  transform: rotate(-2deg);
}

#linkHeadline {
  transform: rotate(1deg);
}

#linkHeadline img {
  margin-bottom: -8px;
}

#linkSendung {
  text-decoration: none;
}
#linkQuestions {
  text-decoration: none;
}

#wavingMouse {
  position: absolute;
  top: 50%;
}
#elefant {
  position: absolute;
  top: 55vh;
  left: 80vw;
}

#mouseAgeOne {
  color: #242424;
  text-shadow: 0 5px black, 0 5px black, 0 5px black;
  font-size: 250px;
  margin: 0px !important;
  font-weight: 800;
  animation: changeColor 7s infinite 0s alternate;
  transform: rotate(-10deg);
}
#mouseAgeTwo {
  color: #242424;
  text-shadow: 0 5px black, 0 5px black, 0 5px black;
  font-size: 250px;
  margin: 0px !important;
  font-weight: 700;
  animation: changeColor 6s infinite 0s alternate-reverse;
  transform: rotate(10deg);
}
#age {  
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: -40px;
 }

#greeting {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
#greeting h1 {
  -webkit-text-stroke: 0.8px black;
  color: #fff;
  position: relative;
  font-size: 90px;
  margin: 0px;
  animation: changeColor 4s infinite 0.2s alternate-reverse;
  transform: rotate(20px);
  align-self: center;
}
#duck {
  position: absolute;
  width: 70px;
  top: 10px
 }

#shaun {
  position: absolute;
  top: 99px;
  left: -300px;
  width: 80px;
}

#mouse {
  position: absolute;
  top: 130px;
  left: 160px;
  width: 90px;
}
#linkHistory {
  text-decoration: none;
}
@keyframes wiggle {
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes changeColor {
  0% {
    color: #fff;
  }
  20% {
    color: darkgoldenrod;
  }
  40% {
    color: darkred;
  }
  60% {
    color: darkgreen;
  }
  80% {
    color: darkblue;
  }
  100% {
    color: darkslateblue;
  }
}
