html {
  font-family: "Acme", sans-serif;
  background-image: url("./resources/img/background.jpeg");
  background-repeat: no-repeat;
  background-size: 2000px;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}

#landingPage {
  background-image: url("./resources/img/confetti1.gif");
  background-blend-mode: darken;
  background-size: auto;
  height: 100vh;
}

#headbar {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headbar h1 {
  padding: 5px 15px 5px;
  border-radius: 15px;
  background-color: rgb(175, 175, 175);
  margin: 0px !important;
  color: #fff !important;
  -webkit-text-stroke: 0.8px black;
  box-shadow: 1px 1px 0px 1px black;
}

#headbar h1:hover {
  animation: wiggle 1s infinite alternate;
}

#linkHistory {
  transform: rotate(3deg);
  text-decoration: none;
}

#linkHistory img {
  margin-left: 60px;
  margin-bottom: -10px;
}

#linkPremiere {
  transform: rotate(-2deg);
  text-decoration: none;
}
#linkHistory {
  text-decoration: none;
}

#linkSendung {
  transform: rotate(-3deg);
  text-decoration: none;
}

#linkQuestions {
  transform: rotate(1deg);
  text-decoration: none;
}

#wavingMouse {
  position: absolute;
  top: 50%;
}
#elefant {
  position: absolute;
  width: 220px;
  top: 65%;
  left: 80%;
  z-index: -1;
}

#schafherde {
  position: fixed;
  width: 260px;
  top: 505px;
  left: 1300px;
  transform: rotate(5deg);
}

#duck {
  position: absolute;
  width: 70px;
  top: 10px;
}

#shaun {
  position: absolute;
  top: 165px;
  left: 270px;
  width: 80px;
  z-index: -1;
}

#mouse {
  position: absolute;
  top: 133px;
  left: 170px;
  width: 90px;
  z-index: -1;
}

#mouseAgeOne {
  color: #242424;
  text-shadow: 0 5px black, 0 5px black, 0 5px black;
  font-size: 250px;
  margin: 0px !important;
  font-weight: 800;
  animation: changeColor 7s infinite 0s alternate;
  transform: rotate(-10deg);
}
#mouseAgeTwo {
  color: #242424;
  text-shadow: 0 5px black, 0 5px black, 0 5px black;
  font-size: 250px;
  margin: 0px !important;
  font-weight: 700;
  animation: changeColor 6s infinite 0s alternate-reverse;
  transform: rotate(10deg);
  z-index: 2;
}
#age {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: -40px;
}

#greeting {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#greeting h1 {
  -webkit-text-stroke: 0.8px black;
  color: #fff;
  position: relative;
  font-size: 90px;
  margin: 0px;
  animation: changeColor 4s infinite 0.2s alternate-reverse;
  transform: rotate(20px);
  align-self: center;
}

@keyframes wiggle {
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes changeColor {
  0% {
    color: #fff;
  }
  20% {
    color: darkgoldenrod;
  }
  40% {
    color: darkred;
  }
  60% {
    color: darkgreen;
  }
  80% {
    color: darkblue;
  }
  100% {
    color: darkslateblue;
  }
}
