html {
  font-family: "Acme", sans-serif;
}

body {
  background-image: linear-gradient(
    45deg,
    rgba(232, 168, 72),
    rgb(152, 187, 253)
  );
  background-repeat: repeat-y;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

#linkLandingPage {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.8px black;
  border: 1px solid #734413;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 10%;
  background-color: #ccc;
  width: 250px;
  font-size: 20px;
}
#linkLandingPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkQuestionPageContent{
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.8px black;
   border-radius: 5px;
  position: absolute;
  top: 80%;
  left:60%;
  background-color: #ccc;
  width: 250px;
  font-size: 20px;
}

#content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#headline {
  position: relative;
  font-size: 50px;
  color: #fff !important;
  -webkit-text-stroke: 0.8px black;
  height: 700px;
}

#headline h2 {
  transform: rotate(10deg);
}

#shaun {
  width: 500px;
  position: absolute;
  top: 40%;
}

#elefant {
  width: 200px;
  position: absolute;
  left: 200px;
  top: -10px;
}

#muenze {
  width: 60px;
  position: absolute;
  top: 70px;
  left: 300px;
}

#hecke {
  position: absolute;
  width: 700px;
  height: 300px;
  top: 75%;
}
